In [2]:

import numpy as np 
import pandas as pd
import seaborn as sns

In [9]:
#question 1 
pdSeries = pd.Series([1,2,3,4,5])
print(pdSeries)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [15]:
#question 2 
pdSeries = pd.Series([1,2,3,4,5,6,7,8])
print("series",pdSeries)
print("series type ",type(pdSeries))
pdSeries.tolist()
print(type(pdSeries.tolist()))

series 0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
series type  <class 'pandas.core.series.Series'>
<class 'list'>

In [16]:
#question 3 
series1 = pd.Series([1,2,3,4,5])
series2 = pd.Series([1,2,3,4,5])
print(series1 + series2)
print(series1 - series2)
print(series1 * series2)
print(series1 / series2)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    0
1    0
2    0
3    0
4    0
dtype: int64
0     1
1     4
2     9
3    16
4    25
dtype: int64
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [17]:
#question 4 
series1 = pd.Series([1,2,3,4,5])
series2 = pd.Series([1,5,4,1,2])
print(series1 == series2)
print(series1 > series2)
print(series1 < series2)

0     True
1    False
2    False
3    False
4    False
dtype: bool
0    False
1    False
2    False
3     True
4     True
dtype: bool
0    False
1     True
2     True
3    False
4    False
dtype: bool

In [18]:
#question 5 
t_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pdSeries = pd.Series(t_dict)
print(pdSeries)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [22]:
#question6
numpy_array = np.arange(1,6,2)
pSeries = pd.Series(numpy_array)
print(pSeries)

0    1
1    3
2    5
dtype: int32

In [34]:
originalSeries  = pd.Series([100,200,'python',300.12,400])
print("original Series",originalSeries)
print("Original Series Type",type(originalSeries))
# changedTypeSeries = originalSeries.astype("float32",errors="ignore")
# print("changed series type",changedTypeSeries)
# print("type of changed series",type(changedTypeSeries))
changedTypeSeries = pd.to_numeric(originalSeries,errors='coerce')
print("changed series type",changedTypeSeries)

original Series 0       100
1       200
2    python
3    300.12
4       400
dtype: object
Original Series Type <class 'pandas.core.series.Series'>
changed series type 0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [3]:
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [6]:
#question 8 
temp_df = tips['total_bill']
first_col_series = pd.Series(temp_df)
print(type(first_col_series))

<class 'pandas.core.series.Series'>

In [10]:
#question 9
pdseries = pd.Series([1,2,3,4,5])
print(type(list(pdseries)))
print(type(pdseries.values))

<class 'list'>
<class 'numpy.ndarray'>

In [12]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print(s)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [21]:
pdseries = pd.Series([100,200,'python',300.12,300,500,1000,2,1])
print(pdseries.sort_values)

<bound method Series.sort_values of 0       100
1       200
2    python
3    300.12
4       300
5       500
6      1000
7         2
8         1
dtype: object>

In [31]:
#question 12 
pdseries = pd.Series([100,200,'python',300.12,400])
testSeries = pd.Series([500,'php'])
new_series = pd.concat([pdseries,testSeries],ignore_index=True)
print(new_series)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [34]:
#question 13 
pdseries  = pd.Series(np.arange(1,20))
print(pdseries)
ss = pdseries[pdseries < 10]
print(ss)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
dtype: int32
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

In [37]:
#question 14 
temp_ser = pd.Series([1,2,3,4,5])
print(temp_ser)
re_indexed_temp_ser = temp_ser.reindex([0,4,3,2,1])
print(re_indexed_temp_ser)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
4    5
3    4
2    3
1    2
dtype: int64

In [40]:
#question 15 
temp_ser = pd.Series([1,2,3,4,5,6,7,8,9,10])
print(temp_ser.mean())
print(temp_ser.std())

5.5
3.0276503540974917

In [42]:
#question 16 
ser1 = pd.Series([1,2,3,4,5])
ser2 = pd.Series([2,4,6,8,10])
print(ser1[~ser1.isin(ser2)])

0    1
2    3
4    5
dtype: int64

In [45]:
#question 17 
ser2_not_in_ser1 = ser2[~ser2.isin(ser1)]
ser1_not_in_ser2 = ser1[~ser1.isin(ser2)]
print(ser2_not_in_ser1,ser1_not_in_ser2)
pd.concat([ser2_not_in_ser1,ser1_not_in_ser2])

2     6
3     8
4    10
dtype: int64 0    1
2    3
4    5
dtype: int64

2     6
3     8
4    10
0     1
2     3
4     5
dtype: int64

In [57]:
temp_ser  = pd.Series(np.linspace(1,10,50))
print(temp_ser.min())
print(temp_ser.max())
print(temp_ser.mean())
print(temp_ser.std())
print(temp_ser.describe())

1.0
10.0
5.5
2.677477910898353
count    50.000000
mean      5.500000
std       2.677478
min       1.000000
25%       3.250000
50%       5.500000
75%       7.750000
max      10.000000
dtype: float64

In [58]:
#question 19 
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [59]:
tips['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [72]:
temp_ser = pd.Series([1,2,3,4,5,1,2,1,3,4,1,2,6,4,5,1,4,1,2])
result = temp_ser[~temp_ser.isin(temp_ser.value_counts().index[:1])] = 'Other'
print(temp_ser)

0         1
1     Other
2     Other
3     Other
4     Other
5         1
6     Other
7         1
8     Other
9     Other
10        1
11    Other
12    Other
13    Other
14    Other
15        1
16    Other
17        1
18    Other
dtype: object

C:\Users\DELL\AppData\Local\Temp\ipykernel_7940\3581671040.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result = temp_ser[~temp_ser.isin(temp_ser.value_counts().index[:1])] = 'Other'

In [82]:
#question 21 
p_ser = pd.Series(np.random.randint(0,15,10))
print(p_ser)
p_ser[p_ser %5 == 0].index

0     5
1    14
2     0
3    14
4     7
5     1
6     6
7     3
8    11
9    11
dtype: int32

Index([0, 2], dtype='int64')

In [84]:
num_series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]
elements_in_pos = num_series.take(element_pos)
print(elements_in_pos)

0     2
2     9
6     8
11    0
21    3
dtype: object

In [90]:
#question 23 
ser1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
ser2 = pd.Series([1,3,5,7,9])
print(ser1[ser1.isin(ser2)].index)

Index([0, 2, 4, 6, 8], dtype='int64')

In [ ]:
#question 24
p_ser = pd.Series(['php','python','sql','c'])
result = p_ser.map(lambda p_ser: p_ser[0].upper() + p_ser[1:-1] + p_ser[-1].upper() )
print(result)

0       PhP
1    PythoN
2       SqL
3        CC
dtype: object

In [103]:
#question 25 
p_ser
result = p_ser.map(lambda x : len(x))
print(result)

0    3
1    6
2    3
3    1
dtype: int64