In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as ppt

In [3]:
# how to create a series from list , numpy array and dict 
t_list = ['hang','thim','limbu']
pd_series_from_list = pd.Series(t_list)
print(pd_series_from_list)

0     hang
1     thim
2    limbu
dtype: object

In [4]:
t_dict = {
    "name" : "hangthim",
    "address" :  "britamode , jhapa",
    "phone number" : "9824096555"
}

td_series_from_dict = pd.Series(t_dict)
print(td_series_from_dict)

name                     hangthim
address         britamode , jhapa
phone number           9824096555
dtype: object

In [5]:
#numpy array to pandas series 
numpy_array = np.array([1,2,3,4,5,6,7,8])
NumpyArrayToPandasSeries = pd.Series(numpy_array)
print(NumpyArrayToPandasSeries)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int32

In [6]:
#How to combine many series to form a dataframe 
series1 = np.arange(0,10)
# print(series1)
series2 = np.arange(10,20)
# print(series2)

pd_dataframe = pd.DataFrame(series1,series2).reset_index()
print(pd_dataframe)

   index  0
0     10  0
1     11  1
2     12  2
3     13  3
4     14  4
5     15  5
6     16  6
7     17  7
8     18  8
9     19  9

In [7]:
# 3. How to get the items of series A not present in series B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
# notInB = ser1[~ser1.isin(ser2)]
# notInB = 
# print(notInB)

In [8]:


# 4. How to get the items not common to both series A and series B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
# a_not_b = ser1[~ser1.isin(ser2)]
# b_not_a = ser2[~ser2.isin(ser1)]
# result = a_not_b.append(b_not_a,ignore_index=True)
a_not_b = ser1[~ser1.isin(ser2)]
b_not_a = ser2[~ser2.isin(ser1)]
                          
# result = pd.concat([a_not_b,b_not_a])
# result = a_not_b.append(b_not_a,ignore_index=True)
# print(result)

In [9]:
# how to get useful infos ! 
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

ser.describe()

count    25.000000
mean     10.435437
std       4.253118
min       1.251173
25%       7.709865
50%      10.922593
75%      13.363604
max      18.094908
dtype: float64

In [10]:
#How to get frequency counts of unique items of a series?
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser.value_counts())

b    6
c    6
a    5
e    5
f    3
h    2
g    2
d    1
Name: count, dtype: int64

In [23]:


# 7. How to convert a numpy array to a dataframe of given shape? (L1)
ser = pd.Series(np.random.randint(1, 10, 35))
# pd.DataFrame(ser.values).reshape(7,5)
pd.DataFrame(np.array(ser).reshape(7,5))

   0  1  2  3  4
0  9  6  3  4  9
1  7  8  7  2  2
2  7  4  8  4  2
3  5  8  5  5  1
4  4  9  9  1  4
5  9  6  9  6  7
6  6  7  2  2  9

In [35]:


# 8. How to find the positions of numbers that are multiples of 3 from a series?

# Find the positions of numbers that are multiples of 3 from ser.

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, 10))
# print(ser)
# print(ser[ser.values %3 ==0].index)

ser.where(lambda x : x%3==0).dropna()

3    3.0
6    3.0
7    3.0
8    3.0
dtype: float64

In [37]:


# 9. How to extract items at given positions from a series

# From ser, extract the items at positions in list pos.

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
print(ser.loc[pos])

0     a
4     e
8     i
14    o
20    u
dtype: object

In [42]:
# How to stack two series vertically and horizontally ?

# Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# this_h_stack =  ser1.hstack(ser2)
vertical_stack = pd.concat([ser1,ser2],axis=0)
horizontal_stack = pd.concat([ser1,ser2],axis=1)
print(vertical_stack)
print(horizontal_stack)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [50]:


# 11. How to get the positions of items of series A in another series B?

# Get the positions of items of ser2 in ser1 as a list.

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
list(ser1[ser1.isin(ser2)].index)

[0, 4, 5, 8]

In [68]:


# 12. How to compute difference of differences between consequtive numbers of a series?

# Difference of differences between the consequtive numbers of ser.
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
# emptyList = []
# for i in range(0,len(ser)-1):
#     sum = ser[i+1] - ser[i]
#     emptyList.append(sum)


# emptyList
firstDiff = ser.diff()
secondDiff  = firstDiff.diff()
print("fristDiff",firstDiff)
print("secondDiff",secondDiff)

# firstDiff = np.diff(ser)
# print("first difference",firstDiff)
# secondDiff = np.diff(firstDiff)
# print("second diff",secondDiff)

fristDiff 0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64
secondDiff 0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

In [75]:
# 3. How to convert a series of date-strings to a timeseries?


# input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Convert to datetime with coercion
# datetime_series = pd.to_datetime(ser, errors='coerce')
# print(datetime_series)
from dateutil.parser import parse
ser.map(lambda x: parse(x))
# pd.to_datetime(ser)
# from dateutil.parser import parse
# ser.map(lambda x: parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [89]:


# 14. How to filter words that contain atleast 2 vowels from a series?

# From ser, extract words that contain atleast 2 vowels.
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
vowels = "aeiou"
list_ = []
for word in ser:
    count = 0
    for letter in str(word).lower():
        # print(word.lower())
        if letter in vowels:
            count += 1
    if count >= 2 : 
        list_.append(word)

print(list_)

['Apple', 'Orange', 'Money']

In [1]:


# 15. How to replace missing spaces in a string with the least frequent character?

# Replace the spaces in my_str with the least frequent character.
# Desired Output

# 'dbccdebcabedcggade'  # least frequent is 'c'
my_str = 'dbc deb abed ggade'
# empty_dict = {}


# for letters in my_str:
#     if letters not in empty_dict:
#         if letters == " ":
#             continue
#         count = 1
#         empty_dict[letters] = count
#     else:
#         empty_dict[letters] += 1
   
# print(empty_dict)


# minimum_letter_count = min(empty_dict,key=empty_dict.get)
# replacedWithminChar = my_str.replace(" ",minimum_letter_count)
# print(replacedWithminChar)

# USING PANDAS 
import pandas as pd

# Original Series
ori_series = pd.Series(['abc def abcdef icd'])

# Extract the string from the Series
string_value = ori_series.iloc[0]

# Convert the string into a list of characters and count their frequencies
char_counts = pd.Series(list(string_value.replace(" ", ""))).value_counts()

# Find the least frequent character
least_frequent_char = char_counts.idxmin()

# Replace spaces in the string with the least frequent character
result_string = string_value.replace(" ", least_frequent_char)

# Convert the result back into a Series
result_series = pd.Series([result_string])

print("Original Series:", ori_series)
print("Result Series:", result_series)

Original Series: 0    abc def abcdef icd
dtype: object
Result Series: 0    abcidefiabcdefiicd
dtype: object

In [4]:
#question 34
import numpy as np  

num_series = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
print("Original series:")
print(num_series)
autocorrelations = [num_series.autocorr(i).round(2) for i in range(11)]
print(autocorrelations)

Original series:
0      0.363332
1     -8.750797
2      7.837165
3     -6.483741
4      5.590267
5     -4.477261
6     12.041457
7      8.046296
8     14.723583
9     14.557165
10    -9.406086
11    16.440215
12    21.916367
13     5.506350
14     8.836660
dtype: float64
[1.0, -0.04, 0.09, 0.2, 0.18, 0.25, -0.05, 0.07, -0.34, 0.33, 0.15]

In [5]:
#question 35 
sundays = pd.date_range('2025-01-01',periods=52,freq='W-SUN')
print(sundays)

DatetimeIndex(['2025-01-05', '2025-01-12', '2025-01-19', '2025-01-26',
               '2025-02-02', '2025-02-09', '2025-02-16', '2025-02-23',
               '2025-03-02', '2025-03-09', '2025-03-16', '2025-03-23',
               '2025-03-30', '2025-04-06', '2025-04-13', '2025-04-20',
               '2025-04-27', '2025-05-04', '2025-05-11', '2025-05-18',
               '2025-05-25', '2025-06-01', '2025-06-08', '2025-06-15',
               '2025-06-22', '2025-06-29', '2025-07-06', '2025-07-13',
               '2025-07-20', '2025-07-27', '2025-08-03', '2025-08-10',
               '2025-08-17', '2025-08-24', '2025-08-31', '2025-09-07',
               '2025-09-14', '2025-09-21', '2025-09-28', '2025-10-05',
               '2025-10-12', '2025-10-19', '2025-10-26', '2025-11-02',
               '2025-11-09', '2025-11-16', '2025-11-23', '2025-11-30',
               '2025-12-07', '2025-12-14', '2025-12-21', '2025-12-28'],
              dtype='datetime64[ns]', freq='W-SUN')